.cover {
  position: fixed;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  opacity: 0;
  z-index: 200;
  .image {
    will-change: transform;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    .cover1 {
      width: 450px;
      transform: translateZ(10px);
    }
    .cover2 {
      position: fixed;
      width: 450px;
      transform: translateZ(20px);
    }
    .cover3 {
      position: fixed;
      width: 450px;
      transform: translateZ(30px);
    }
  }
}
